.addTask {
    width: 40%;
    height: 600px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px gray;
    z-index: 1;
}

.addTaskTitle{
    color: #1d243c;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.inputTitle {
    display: inline-block;
    height: 35px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.4em;
    padding: 3px;
}

.inputDescription {
    display: inline-block;
    height: 200px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.4em;
    padding: 3px;
    resize: none;
}


.taskButton {
    display: inline-block;
    height: 50px;
    width: 50%;
    border-radius: 5px;
    font-size: 1.6em;
    margin: 15px;
    background-color: #5a7499;
    color: whitesmoke;
    font-family: Roboto;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}