.category{
    border-radius: 25px;
    display: inline-block;
    width: 300px;
    margin: 1%;
    background-color: #e1f2ee;
    padding: 20px;
    vertical-align: top;
    position: relative;
}

.title{
    color: #1d243c;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.deleteCategoryButton{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.categoryBtnImg{
    width: 25px;
}

.editCategoryButton{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 50px;
}

.addTaskButton{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 85px;
}

.taskCounter{
    position: absolute;
    top: 0px;
    left: 30px;
    color: #8b8b9f;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2em;
}

