.category{
    border-radius: 25px;
    display: inline-block;
    width: 25%;
    margin: 1%;
    background-color: #e1f2ee;
    padding: 20px;
    vertical-align: top;
}

.title{
    color: #1d243c;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}