.task{
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    box-shadow: 2px 2px 5px #b8b8b8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    min-height: 300px;
}

.taskTitle{
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    margin: 5px 5px 0px 5px;
}

.taskDescription{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    margin-bottom: 50px;
    text-align: left;
    padding: 1em;
}

.deleteTaskButton{
    border: transparent;
    background-color: transparent;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

.deleteTaskImg{
    width: 30px;
}

.editTaskButton{
    border: transparent;
    background-color: transparent;
    position: absolute;
    right: 50px;
    bottom: 15px;
    cursor: pointer;
}

.editTaskImg{
    width: 30px;
}

.editTaskTitle{
    width: 90%;
    border-radius: 5px;
    border: lightgray solid 1px;
    box-shadow: 2px 2px 3px lightgray;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    padding: 5px;
}

.editTaskDescription{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    border: lightgray solid 1px;
    box-shadow: 2px 2px 5px lightgray;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    padding: 5px;
}

.editButtons{
    text-align: center;
    border-radius: 5px;
    border: transparent;
    float: right;
    padding: 5px;
    margin: 5px 2px 2px 2px;
    background-color: #5a7499;
    color: white;
}

